/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
/*
COLORS:

Light indigo: #91a7ff
Medium indigo: #748ffc
Dark indigo: #5c7cfa

*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Reset the document's root font size from default value of 16px to 10px to enable us easily use
values for our properties, we set the root font size in percentages to allow the user to adjust the 
root font size by changing the default sizes on their browser*/
html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 60px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #8ea4fdbe, #5c7cfa94),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /* clip-path: polygon(x y, x y, x y x y); */
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  position: relative;
}
/* top, left, right, bottom properties starts counting from parent elements
with position set to relative */

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  /* The transform property below shifts the element - 50 percent to the left and then -50 percent
  to the top to make sure the element is completly centered */
  transform: translate(-50%, -50%);
  text-align: center;
  /* text-align property works on inline elements */
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  /* Backface visibility determines if the back part of a transforming element is visible to
  the user or not  */
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 3s;
  /* animation-delay: 2s; 
  animation-iteration-count: 2;
  */
  animation-timing-function: ease-out;
}

.heading-primary--sub {
  display: block;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1.8rem;
  animation: moveInRight 3s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  50% {
    opacity: 0.5;

    transform: translateX(5rem) rotate(180deg);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  50% {
    opacity: 0.5;
    transform: translateX(-5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  /* border-radius of very high values curves the edges the same just like this one here */
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-0.3rem);
  /* box-shadow: x y blue-size rgba(); x and y can be positive or negative values depending on
  our desired direction*/
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translate(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
  padding: 1.5rem 4rem;
}

/* The ::after sudo selector is like a child element in the btn element, you must set the content
and display properties for it to work, it is relative to the btn element */
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* transitions are always set on the parent elements */
  transition: all 0.4s;
}
.btn--white::after {
  background-color: #fff;
}

/* scale the btn then make it invisible by using the opacity after the given transition time  */
.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.7);
  opacity: 0;
}
.btn--animated {
  animation: moveInBottom 3s ease-out 0.75s;
  /* setting the mode like this makes the element invisible till after the effect */
  animation-fill-mode: backwards;
}
