@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER

/* 
0 - 600px: Phone

600 - 900px: Tablet portrait

900 - 1200:  Tablet Landscape

1200 - 1800 : Our Normal Desktop Screen

1800 - infinity:  Big Desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop


ORDER: Base > Typography > General Layout > Grid > Page layout > Components

1em = 16px by default . media queries are best set in em values which will later convert to px

@media only screen means our media query only applies to screen and if someone prints our page
the media query won't apply

*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only Screen and (max-width: 37.5em) {
      @content;
    } // 600px
  }

  @if $breakpoint == tab-port {
    @media only Screen and (max-width: 56.25em) {
      @content;
    } //900px
  }

  @if $breakpoint == tab-land {
    @media only Screen and(max-width: 75em) {
      @content;
    } // 1200px
  }

  @if $breakpoint == big-desktop {
    @media only Screen and (min-width: 112.5em) {
      @content;
    } // 1800px
  }
}
