.header {
  height: 85vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  // when checking for support, we must include a value in the property we are checking (any value)
  @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
    /* clip-path: polygon(x y, x y, x y x y); */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
  }

  /* 
  USING MEDIA QUERY in CSS TO MAKE OUR IMAGES RESPONSIVE
  
  min-resolution is used to target our screen resolution, it is measure in dpi(dot per inch)

  192dpi is the resoltion of apple rectina screen and it is a high resolusion screen that is
   usually used as a reference
  */
  // Because small screens has high resolutions(2X) we want to also check for the width of the view
  // port so we will display smaller images in smaller view-ports which the screen resolution will
  // further enhance becuase of high resolution of the screen

  // WE USE AND TO CHECK IF TWO CONDITONS ARE TRUE, WORKS AS LOGICAL AND

  // WE USE " , " TO WORK AS LOGICAL OR . TO COMBINE CONDITIONS

  @media only Screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    (min-width: 112.5em) {
    // Whenever the resolution is higher than 192dpi and the width is higher than 600px, display
    // the larger hero image(Exucute the codes below) otherwise display our smaller image(don't execute)

    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../img/hero.jpg);
  }

  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  /* top, left, right, bottom properties starts counting from parent elements
    with position set to relative */

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    /* The transform property below shifts the element - 50 percent to the left and then -50 percent
    to the top to make sure the element is completly centered */
    transform: translate(-50%, -50%);
    text-align: center;
    /* text-align property works on inline elements */
  }
}
