.composition {
  position: relative;
  &__photo {
    width: 55%; // to make the image flexible
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 0.2rem;
    position: absolute;
    z-index: 1;
    transition: all 0.2s;
    outline-offset: 1.4rem;

    @include respond(tab-port) {
      position: relative;
      float: left;
      width: 33.333333%;
      box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
    }

    &--p1 {
      top: -2rem;
      left: 0;

      @include respond(tab-port) {
        top: 0;
        transform: scale(1.2);
      }
    }

    &--p2 {
      top: 2rem;
      right: 0;

      @include respond(tab-port) {
        top: -1rem;
        transform: scale(1.3);
        z-index: 10;
      }
    }

    &--p3 {
      top: 10rem;
      left: 10rem;

      @include respond(tab-port) {
        top: 1rem;
        left: 0;
        transform: scale(1.1);
      }
    }

    &:hover {
      outline: 1rem ridge $color-primary;
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.6);
      transform: scale(1.06) translateY(-1rem);
      z-index: 2; // make the hovered images appears on top
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.93);
  } // select the non hovered images and shrink there size a bit
}
