.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }
  &__input {
    // because input elements don't inherit font property, we force it to inherit
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgba($color-white, 0.5);
    border: none;
    width: 90%;
    display: block;
    transition: all 1s;

    @include respond(tab-port) {
      width: 100%;
    }

    // set same border at innitial state before hover to prevent the .3rem space taken by the border
    // shifting the following element down when hovered. but we set to transparent here
    border-bottom: 0.3rem solid transparent;

    // Psudo element that replaces the placeholder when we type inside the input field
    &::-webkit-input-placeholder {
      color: $color-gray-dark-2;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 0.3rem solid $color-primary;

      //css form validation
      &:invalid {
        border-bottom: 0.3rem solid $color-tertiary-dark;
      }
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem; // to align it same position with the input plcaeholder with padding 2rem
    margin-top: 0.7rem;
    display: block; // to enable it take full width of the container just like the input field
    transition: all 0.5s;
  }

  // CSS siblings selectors: + adjacent sibling, ~ all siblings

  // when the form__input placeholder is shown, select the adjacent sibling which is the form__label
  // in this case.
  // When we start typing, the styling returns to normal state of the label
  &__input:placeholder-shown + &__label {
    opacity: 0; // make it invisible but present so we can style it using transform property
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 49%;
    display: inline-block;
    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__radio-input {
    display: none; // hide our original button to enable us use the one we created
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 5rem;

    &--button {
      // properties height and width only works on block or in-block elements
      height: 3rem;
      width: 3rem;
      border: 0.5rem solid $color-primary;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      left: 0;
      right: 0;

      &::after {
        content: "";
        display: block;
        height: 1.3rem;
        width: 1.3rem;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-primary;
        opacity: 0; //to hide this inner dot which is a psudo element we just created
        transition: opacity 0.2s;
      }
    }
  }
  &__radio-input:checked + &__radio-label &__radio-label--button::after {
    opacity: 1;
  }
}
