.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 400;
  background-color: rgba($color-black, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);

  // Check if browser supports a feature or css property, then apply them otherwise use default
  @supports (-webkit-backdrop-filter: blur(1rem)) or
    (backdrop-filter: blur(1rem)) {
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);

    background-color: rgba($color-black, 0.3);
  }

  &__content {
    @include absoluteCenter;
    width: 80%;
    background-color: $color-white;
    box-shadow: $default-box-shadow;
    border-radius: 0.3rem;
    display: table; // fake this conatainer to be like a table
    overflow: hidden;
    text-align: center;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.2); // we have to repeat thr translate (-50, -50) again
    // here because we cannot have two transform in the same block,the last one will be executed
    // and we already specified a transform in our absoluteCenter mixin included in this block
    transition: all 0.3s 0.2s;
  }

  //calculate the width of the left and right to make sure their combined width is 100%
  &__left {
    width: 33.3333333%;
    display: table-cell; // fake this to be a table cell
    vertical-align: middle; // this property is used on tables
  }
  &__right {
    width: 66.6666667;
    display: table-cell; // fake this to be a table cell
    vertical-align: middle; // this property is used on tables
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem; // 1em is the font size of the current element, here it will be 1.4rem or 14px
    column-rule: 0.1rem solid $color-gray-light-2;
    hyphens: auto;
  }

  //OPEN STATE OF THE POPUP

  // when the target is the popup, we use our psudo class :target to select it and set our properties
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &,
    &:link,
    &:visited {
      color: $color-gray-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3.2rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1; // we need to set the line height because it's a text
    }

    &:hover {
      color: $color-primary-dark;
      transform: scale(1.05);
    }
  }
}
