*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Reset the document's root font size from default value of 16px to 10px to enable us easily use
values for our properties, we set the root font size in percentages to allow the user to adjust the 
root font size by changing the default sizes on their browser*/
html {
  /* font-size: 10px; */

  // This defines what 1rem is equal to in our project.
  font-size: 62.5%; // 1 rem = 10px: ( 10px / 16px ) * 100

  @include respond(tab-land) {
    // 1 rem = 9px: ( 9px / 16px ) * 100

    font-size: 56.25%;
  }
  @include respond(tab-port) {
    // 1 rem = 8px: ( 8px / 16px ) * 100

    font-size: 50%;
  }
  @include respond(phone) {
    // 1 rem = 8px: ( 8px / 16px ) * 100
    font-size: 50%;
  }

  @include respond(big-desktop) {
    // 1 rem = 12px: ( 12px / 16px ) * 100
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  @include respond(tab-port) {
    padding: 0;
  }
}

// STYLE SELECTED ELEMENTS

::selection {
  background-color: $color-primary;
  color: $color-white;
}
