body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 60px; */
  line-height: 1.7;
  color: $color-gray-dark;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  /* Backface visibility determines if the back part of a transforming element is visible to
    the user or not  */
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
    /* animation-delay: 2s; 
      animation-iteration-count: 2;
      */
    animation-timing-function: ease-out;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1.8rem;
    animation: moveInRight 3s ease-out;
    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 1.5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block; // so it doesn't take 100 percent of the conatiner width

  padding: 1rem 2rem;
  color: $color-primary;
  transition: all 0.2s;
  letter-spacing: 0.2rem;

  @supports (-webkit-background-clip: text) or (background-clip: text) {
    background-image: linear-gradient(
      to right,
      $color-primary,
      $color-primary-dark
    );
    -webkit-background-clip: text; // clip the background image to the text only
    background-clip: text;
    color: transparent; // to allow the image to be seen on the text
  }

  @include respond(tab-port) {
    font-size: 3rem;
  }
  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewX(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2); // text shadow x y blur rgba(color, opacity)
  }
  &--small {
    font-size: 2.5rem;
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragragh {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
