.section-about {
  background-color: $color-gray-light-1;
  padding: 25rem 0;
  margin-top: -20vh; // negative marging moves the element oposite direction.

  @include respond(tab-port) {
    padding: 20rem 0;
  }
}

.section-feature {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -12rem;

  // direct child selector (>) only selects the direct children and not grand children

  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-tours {
  background-color: $color-gray-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -11rem;

  @include respond(tab-port) {
    padding: 20rem 0 8rem 0;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;

  @include respond(tab-port) {
    padding: 8rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to bottom right,
    ($color-primary-light, $color-primary-dark)
  );

  @include respond(tab-port) {
    padding: 10rem 0;
  }

  .book {
    // Combine two background images, one as linear gradient and the other as the main image
    // use degree value for the direction of the gradient
    // Choose three colors at different at different positions as we did below
    // the second and the last color should start at the same position to produce a staight line demacation
    // We can use transparent as a color or use a color as set the opacity to 0 to make it transparent
    // in other the see the background image lying below our linear gradient completely and clearly
    // We can use different colors at different postions to create different gradients and effects

    background-image: linear-gradient(
        105deg,
        rgba($color-gray-light-2, 0.9) 0%,
        rgba($color-gray-light-2, 0.9) 50%,
        rgba($color-white, 0) 50%
      ),
      url(../img/nat-5.jpg);
    background-size: 100%; // almost same as background-size: cover .makes sure the img
    // fits the container in X-direction mostly
    border-radius: 0.3rem;

    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.25);

    margin: 0 auto;

    @include respond(tab-land) {
      background-size: 100%;
      background-image: linear-gradient(
          105deg,
          rgba($color-gray-light-2, 0.9) 0%,
          rgba($color-gray-light-2, 0.9) 65%,
          rgba($color-white, 0) 65%
        ),
        url(../img/nat-5.jpg);
    }

    @include respond(tab-port) {
      background-image: linear-gradient(
          to right,
          rgba($color-gray-light-2, 0.9) 0%,
          rgba($color-gray-light-2, 0.9) 100%
        ),
        url(../img/nat-5.jpg);
    }

    &__form {
      width: 50%;
      padding: 6rem;

      @include respond(tab-land) {
        width: 65%;
      }
      @include respond(tab-port) {
        width: 100%;
      }
    }
  }
}
